---
layout: default
title: Home
---
<div class="hfeed">
    {% for post in paginator.posts %}
    <article class="hentry post">
	{% include post-header.html post=post %}
        <h1 class="entry-title post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        {% include post-preview.html post=post %}
        {% include post-footer.html post=post %}
    </article>
    {% endfor %}
    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="/page/{{ paginator.previous_page }}/" class="previous">新しい記事へ</a>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="/page/{{ paginator.next_page }}/" class="next" rel="next">古い記事へ</a>
        {% endif %}
    </div>
</div>
