<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "BlogPosting",
"headline": "{{ include.post.title }}",
"genre":[{% for category in include.post.categories %}"{{ category | escape }}"{% unless forloop.last %},{% endunless %}{% endfor %}],
"keywords":[{% for tags in include.post.tags %}"{{ tag | escape }}"{% unless forloop.last %},{% endunless %}{% endfor %}],
"datePublished": "{{ include.post.date | date: '%Y-%m-%d' }}",
"url": "{{ include.post.url | prepend: site.baseurl | prepend: site.url }}",
"mainEntityOfPage":{  
  "@type":"WebPage",
  "@id":"{{ include.post.url | prepend: site.baseurl | prepend: site.url }}"
},
"articleBody":"{{ include.post.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}"
}
</script>
