@import 'variables';
@import 'functions';

body {
  margin: 0;
  background: $color_light_gray;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.site-header {
  padding: $margin_width;
  background-color: $color_dark_gray;
  color: $color_white;
  text-align: center;

  &__title {
    font-size: 400%;
    margin: $margin_width 0 0 0;
    @include mobile {
      font-size: 200%;
      margin: 0;
    }
    a {
      color: $color_white;
      text-decoration: none;
    }
  }
  &__lead {
    margin: 0;
    padding: $padding-width 0 0 0;
  } 
}

.category-header {
  margin: $margin-width 0 0 0;
  text-align: center;
  font-size: 200%;
  @include mobile {
    margin: $padding-width 0 0 0;
    font-size: 100%;
  }
}

.post {
  @include pc {
    margin: 0 auto;
    width: ($breakpoint-tablet - ($margin_width * 2) - ($padding_width * 2));
  }
  @include tablet {
    margin: 0 ($margin_width + $padding_width);
  }
  @include mobile {
    margin: 0;
  }
  padding: 0 0 $padding_width 0;
  background: $color_white;

  &__title {
    padding: 0 $padding-width;
  }
  
  &__content {
    padding: 0 $padding_width;
    line-height: 1.4;
  }

  &__more-link {
    padding: $padding_width $padding_width 0 $padding_width;
  }  
}

@import 'post-header'
