$margin_width: 32px;
$padding_width: 16px;

$color_white: #fff;
$color_dark_gray: #424242;
$color_light_gray: #e9e9e9;

$color_yellow: #ff9900;
$color_dark_yellow: #f68619;


body {
  margin: 0;
  background: $color_light_gray;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  padding: $margin_width;
  background-color: $color_dark_gray;
  color: $color_white;
  text-align: center;

  h1 {
    font-size: 400%;
    margin: $margin_width 0 0 0;
    a {
      color: $color_white;
      text-decoration: none;
    }
  }
}

.post {
  margin: 0 ($margin_width + $padding_width);
  padding: 0 0 $padding_width 0;
  background: $color_white;

  .post-title {
    padding: 0 $padding-width;
  }
  
  .post-content {
    padding: 0 $padding_width;
  }

  .post-more-link {
    padding: $padding_width $padding_width 0 $padding_width;
  }  

  .post-header {
    background-color: $color_light_gray;
    margin: 0;
    padding: $margin_width $padding_width 3px 0;
    line-height: 0;
    .post-date {
      display: inline-block;
      background: $color_white;
      margin: 0 3px 0 0;
      padding: 0 16px;
      height: 40px;
      line-height:40px;
    }
    .post-categories {
      display: inline-block;
      list-style: none;
      vertical-align: bottom;
      margin: 0;
      padding: 0;
      li {
        float: left;
        margin: 0;
        padding: 0;
        a {
          background: $color_white;
          box-sizing: border-box;
          display: block;
          height: 40px;
          line-height:40px;
          padding: 0 10px 0 5px;
          text-align: center;
          margin-right: 23px;
          position: relative;
        }
        &:first-child {
          a {
            padding-left:15px;
            &:before{
              border:none;
            }
          }
        }
        &:last-child {
          a {
            padding-right:15px;
            &:after{
              border:none;
            }
          }
        }
        a {   
          &:before,
          &:after{
            box-sizing: border-box;
            content: "";
            position:absolute;
            top: 0;
            border:0 solid $color_white;
            border-width:20px 10px;
            width: 0;
            height: 0;
          }
          &:before{
            left:-20px;
            border-left-color:transparent;
          }
          &:after{
            left:100%;
            border-color:transparent;
            border-left-color:$color_white;
          }
          &:hover{
            background-color: $color_yellow;
           
            &:before{
              border-color:$color_yellow;
              border-left-color:transparent;
            }
            &:after{
              border-left-color:$color_yellow;
            }
          }
          &:active{
            background-color: $color_dark_yellow;
        
            &:before{
              border-color:$color_dark_yellow;
              border-left-color:transparent;
             }
            &:after{
              border-left-color:$color_dark_yellow;
            }
          }
        }
      }
    }
  }
}
