$post_header_height: 40px;
$post_header_arrow_width: 10px;
$post_header_margin: 3px;
$post_header_arrow_margin_left: 5px;
$post_header_arrow_margin_right: 10px;

.post__header {
  @include mobile {
    font-size: .85em;
    background-color: $color_white;
    margin: $margin_width 0 0 0;
    padding: $padding_width $padding_width 0 $padding_width;
    line-height: 1.3;
    &__date {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    &__categories {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
      vertical-align: bottom;
      li {
        float: left;
        margin: 0 0 0 $padding-width;
        padding: 0;
        position: relative;
        &:before {
          display: block;
          position: absolute;
          width: $padding-width;
          left: (-1 * $padding-width);
          text-align: center;
        }
        &:first-child {
          &:before {
            content: '|';
          }
        }
        &:not(:first-child) {
          &:before {
            content: '>';
          }
        }
      }
    }
  }

  @include tablet-and-pc {
    background-color: $color_light_gray;
    margin: 0;
    padding: $margin_width $padding_width $post_header_margin 0;
    line-height: 0;
    &__date {
      display: inline-block;
      background: $color_white;
      margin: 0 $post_header_margin 0 0;
      padding: 0 $padding_width;
      height: $post_header_height;
      line-height: $post_header_height;
    }
    &__categories {
      display: inline-block;
      list-style: none;
      vertical-align: bottom;
      margin: 0;
      padding: 0;
      li {
        float: left;
        margin: 0;
        padding: 0;
        a {
          background: $color_white;
          box-sizing: border-box;
          display: block;
          height: $post_header_height;
          line-height:$post_header_height;
          padding: 0 $post_header_arrow_margin_right 0 $post_header_arrow_margin_left;
          text-align: center;
          margin-right: (($post_header_arrow_width * 2) + $post_header_margin);
          position: relative;
        }
        &:first-child {
          a {
            padding-left:$padding_width;
            &:before{
              border:none;
            }
          }
        }
        &:last-child {
          a {
            padding-right:$padding_width;
            &:after{
              border:none;
            }
          }
        }
        a {   
          &:before,
          &:after{
            box-sizing: border-box;
            content: "";
            position:absolute;
            top: 0;
            border:0 solid $color_white;
            border-width:($post_header_height / 2) $post_header_arrow_width;
            width: 0;
            height: 0;
          }
          &:before{
            left:(-1 * ($post_header_arrow_width * 2));
            border-left-color:transparent;
          }
          &:after{
            left:100%;
            border-color:transparent;
            border-left-color:$color_white;
          }
          &:hover{
            background-color: $color_yellow;
           
            &:before{
              border-color:$color_yellow;
              border-left-color:transparent;
            }
            &:after{
              border-left-color:$color_yellow;
            }
          }
          &:active{
            background-color: $color_dark_yellow;
        
            &:before{
              border-color:$color_dark_yellow;
              border-left-color:transparent;
             }
            &:after{
              border-left-color:$color_dark_yellow;
            }
          }
        }
      }
    }
  }
}
