$margin_width: 32px;
$padding_width: 16px;

$color_white: #fff;
$color_dark_gray: #424242;
$color_light_gray: #e9e9e9;

$color_yellow: #ff9900;
$color_dark_yellow: #f68619;

$breakpoint-tablet: 980px;
$breakpoint-mobile: 640px;
